<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host" value="127.0.0.1"/>
    <add key="db" value="hotelchain"/>
    <add key="username" value="root"/>
    <add key="password" value="0x38be"/>
    <add key="hostEmail" value="quantumbiology@hotmail.co.uk"/>
    <add key="hostPassword" value="Ox38beOx38be"/>
    <add key="targetEmail" value="zcabnli@ucl.ac.uk"/>
    <add key="smtp" value="smtp.live.com"/>
  </appSettings>
  <connectionStrings>
    <add name="azureStorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=team2setstorage;AccountKey=mS4eGvFreIi21cW+G/1+9fA4h68I1h7rurt9bYIQ11gr4KzkbhS4abKa+6BkPcUD412iP3xGdoygif/xaNvwIA=="></add>
  </connectionStrings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>